a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

body {
  background-color: #ffd700;
}

button {
  background-color: blue;
}

/*div {
  border-radius: 25px;
}*/

.action-buttons {
  background-color: yellow;
  border-radius: 15px;
  height: 50px;
  text-align: center;
}

.business {
  margin: 0 35px;
  border-radius: 25px;
}

.categories {
  background-color: grey;
  height: 42px;
  text-align: center;
  padding-top: 18px;
}

.description-bar {
  background-color: magenta;
  height: 130px;
  padding: 50px 0 0 15px;
}

.head {
  background-color: darkblue;
  font-size: 2rem;
  height: 50px;
  padding-top: 13px;
  text-align: center;
}

.logo-bar {
  background-color: green;
  height: 200px;
}

.minilogo {
  padding: 15px 15px 0 0;
  width:70px;
}

.tweetbox {
  background-color: green;
  border-radius: 15px;
  height: 200px;
  padding: 15px;
}

.tweet {
  font-size: 2rem;
}
