a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

body {
  background-color: #ff0;
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: blue;
  color: white;
}

.action-buttons {
  background-color: yellow;
  border-radius: 15px;
  height: 50px;
  text-align: center;
}

.business {
  margin: 0 35px;
  border-radius: 25px;
}

.categories {
  background-color: #ef0404;
  color: #04f5c1;
  height: 42px;
  text-align: center;
  padding-top: 18px;
}

.description-bar {
  background-color: red;
  color: #f5eeee;
  font-family: 'Lobster', cursive;
  font-size: 2.2rem
  height: 130px;
  padding: 50px 0 0 15px;
}

.head {
  background-color: blue;
  font-size: 2rem;
  height: 50px;
  padding-top: 13px;
  text-align: center;
}

.logo-bar {
  background-color: green;
  height: 200px;
}

.minilogo {
  border-radius: 10px;
  padding: 20px 0 0 0;
  width:70px;
}

.tweetbox {
  background-color: #2a67a7;
  border-radius: 15px;
  height: 200px;
  padding: 15px;
}

.tweet {
  color: white;
  font-size: 2rem;
  padding: 20px 25px 0 20px;
}
